* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color: #4a4a4a;
}
html {
  scroll-behavior: smooth;
}
body {
  width: 100%;
  max-width: 1366px;
  min-width: 320px;
  margin: 0 auto;
}
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: black;
}
.anchor {
  position: absolute;
  top: -55px;
  width: 100%;
  height: 55px;
}
.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.line-off {
  opacity: 0;
}
@media screen and (max-width: 780px) {
  .anchor {
    top: -55px;
    height: 55px;
  }
}
nav {
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 1366px;
  height: 55px;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 3px 3px 9px #0000002a;
  box-shadow: 3px 3px 9px #0000002a;
  background: white;
}
nav #logo {
  width: 16%;
  min-width: 200px;
  height: 100%;
}
nav #logo a {
  height: 100%;
  width: 200px;
}
nav #logo a img {
  height: 60%;
}
nav #nav-menu {
  position: absolute;
  right: 0;
  width: 50%;
  min-width: 550px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
nav #nav-menu div {
  height: 100%;
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
nav #nav-menu div a {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
}
#burger {
  display: none;
  position: absolute;
  width: 20%;
  height: 100%;
}
button {
  height: 35px;
  width: 35px;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}
button img {
  height: 100%;
  width: 100%;
}
@media screen and (max-width: 780px) {
  nav {
    height: 55px;
  }
  #burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  nav #logo {
    width: 100%;
  }
  nav #nav-menu {
    display: none;
  }
}
#menu-desplegable {
  position: fixed;
  top: 55px;
  width: 90%;
  max-width: 350px;
  height: calc(100vh - 55px);
  background: white;
  z-index: 98;
}
#menu-desplegable div {
  width: 100%;
  height: 62px;
  padding-left: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 0.3px solid #f2f2f2;
}
#menu-desplegable div a {
  font-size: 14px;
  font-weight: 500;
}
.menu-off {
  left: -80%;
}
.menu-in {
  -webkit-animation-name: menuIn;
  animation-name: menuIn;
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@-webkit-keyframes menuIn {
  from {
    left: -80%;
  }
  to {
    left: 0%;
  }
}
@keyframes menuIn {
  from {
    left: -80%;
  }
  to {
    left: 0%;
  }
}
.menu-out {
  -webkit-animation-name: menuOut;
  animation-name: menuOut;
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@-webkit-keyframes menuOut {
  from {
    left: 0%;
  }
  to {
    left: -80%;
  }
}
@keyframes menuOut {
  from {
    left: 0%;
  }
  to {
    left: -80%;
  }
}
#hero-gallery {
  position: relative;
  margin-top: 55px;
  width: 100%;
  height: calc(100vh - 80px);
  max-height: 680px;
  background: #f2f2f2;
}
#gallery {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#gallery div {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
#gallery div img {
  width: 100%;
  height: auto;
}
#counter {
  position: absolute;
  width: 100%;
  height: 30px;
  bottom: 4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
#counter div {
  width: 8px;
  height: 8px;
  margin: 0 5px;
  border-radius: 100%;
  border: none;
  -webkit-box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.7);
}
.dot-on {
  background: #c3c3c3;
}
.dot-off {
  background: white;
}
.gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(37%, rgba(246, 246, 246, 0.1)), to(rgba(237, 237, 237, 0.2)));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(246, 246, 246, 0.1) 37%, rgba(237, 237, 237, 0.2) 100%);
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(246, 246, 246, 0.1) 37%, rgba(237, 237, 237, 0.2) 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(246, 246, 246, 0.1) 37%, rgba(237, 237, 237, 0.2) 100%);
  z-index: 90;
  pointer-events: none;
}
#left-arrow,
#right-arrow {
  position: absolute;
  top: 0;
  width: 5%;
  min-width: 50px;
  height: 100%;
}
#left-arrow div,
#right-arrow div {
  width: 100%;
  height: 100%;
}
#left-arrow img,
#right-arrow img {
  width: 10px;
  height: 17px;
}
#left-arrow {
  left: 0;
}
#right-arrow {
  right: 0;
}
#right-arrow img {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
#hero-gallery h1 {
  position: absolute;
  top: 10%;
  width: 100%;
  font-size: 48px;
  font-weight: 300;
  text-align: center;
  color: white;
  text-shadow: 3px 3px 9px #0000002a;
}
.out {
  left: -100vw;
}
.fromLeft {
  left: -100vw;
  -webkit-animation-name: fromLeft;
  animation-name: fromLeft;
  -webkit-animation-duration: 1500ms;
  animation-duration: 1500ms;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@-webkit-keyframes fromLeft {
  from {
    left: -100vw;
  }
  to {
    left: 0;
  }
}
@keyframes fromLeft {
  from {
    left: -100vw;
  }
  to {
    left: 0;
  }
}
.toLeft {
  left: 0;
  -webkit-animation-name: toLeft;
  animation-name: toLeft;
  -webkit-animation-duration: 1500ms;
  animation-duration: 1500ms;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@-webkit-keyframes toLeft {
  from {
    left: 0;
  }
  to {
    left: -100vw;
  }
}
@keyframes toLeft {
  from {
    left: 0;
  }
  to {
    left: -100vw;
  }
}
.fromRight {
  left: 100vw;
  -webkit-animation-name: fromRight;
  animation-name: fromRight;
  -webkit-animation-duration: 1500ms;
  animation-duration: 1500ms;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@-webkit-keyframes fromRight {
  from {
    left: 100vw;
  }
  to {
    left: 0;
  }
}
@keyframes fromRight {
  from {
    left: 100vw;
  }
  to {
    left: 0;
  }
}
.toRight {
  left: 0;
  -webkit-animation-name: toRight;
  animation-name: toRight;
  -webkit-animation-duration: 1500ms;
  animation-duration: 1500ms;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@-webkit-keyframes toRight {
  from {
    left: 0;
  }
  to {
    left: 100vw;
  }
}
@keyframes toRight {
  from {
    left: 0;
  }
  to {
    left: 100vw;
  }
}
.center {
  left: 0;
}
@media screen and (max-width: 850px) {
  #hero-gallery {
    margin-top: 55px;
    max-height: 400px;
  }
  #hero-gallery h1 {
    font-size: 36px;
  }
}
@media screen and (max-width: 600px) {
  #hero-gallery {
    margin-top: 55px;
    height: 250px;
  }
  #img-holder img {
    width: 200%;
    height: auto;
  }
}
#estudio {
  position: relative;
  width: 100%;
  height: calc(100vh);
  max-height: 750px;
  min-height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.estudio-container {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 6% auto 0 auto;
  padding: 0 18px;
  text-align: center;
}
.estudio-container h3 {
  font-size: 28px;
  font-weight: 300;
  margin-bottom: 10px;
}
.estudio-container h4 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 50px;
}
.estudio-container p {
  width: 100%;
  max-width: 770px;
  margin: 0 auto;
  font-size: 14px;
  font-weight: 300;
  text-align: justify;
  line-height: 21px;
}
#estudio img {
  position: absolute;
  width: 450px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  right: 0;
  bottom: 0;
}
#first-line {
  position: absolute;
  top: 5%;
  right: calc(100vw * 0.9);
  height: 1000px;
  background: #fdc929;
  width: 5px;
}
@media screen and (max-width: 780px) {
  #estudio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-height: initial;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  #estudio img {
    position: initial;
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 500px;
    height: auto;
  }
  #first-line {
    right: initial;
    left: 0;
    height: calc(90vw);
    min-height: 430px;
  }
}
@media screen and (max-width: 500px) {
  #first-line {
    height: 350px;
    min-height: initial;
  }
}
#servicios {
  position: relative;
  width: 100%;
  height: auto;
  padding-bottom: 60px;
}
#servicios-title {
  width: 100%;
  padding-top: 60px;
  text-align: center;
}
#servicios-title h3 {
  font-size: 28px;
  font-weight: 300;
}
.servicios-container {
  max-width: 550px;
  padding: 0 18px;
  margin: 0 auto;
}
.servicios-container img {
  padding-top: 80px;
  width: 40px;
  margin-bottom: 5px;
}
.servicios-container h3 {
  font-size: 24px;
  color: #e7205b;
}
.servicios-container p {
  padding-top: 10px;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  text-align: justify;
}
#second-line {
  position: absolute;
  top: 8%;
  left: calc(100vw * 0.9);
  height: 1400px;
  width: 5px;
  background: #61d8c2;
}
@media screen and (max-width: 780px) {
  #second-line {
    left: initial;
    right: 0;
    top: 3%;
    height: 93%;
    min-height: 430px;
  }
}
@media screen and (max-width: 600px) {
  .servicios-container {
    text-align: center;
  }
  .servicios-container img {
    width: 26px;
  }
  .servicios-container h3 {
    text-align: center;
    font-size: 14px;
    font-weight: 700;
  }
  .servicios-container p {
    font-size: 13.5px;
    font-weight: 400;
  }
}
#proyectos {
  position: relative;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
#p-title,
#p-container {
  width: 80%;
}
#p-title {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 30px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
#p-container {
  width: 80%;
  max-width: 1000px;
  min-width: 800px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-width: 750px;
}
.thumbnail {
  position: relative;
  width: 40%;
  margin: 10px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.thumbnail img {
  width: 100%;
  height: auto;
}
.p-description {
  position: absolute;
  width: 100%;
  height: 25%;
  top: 0;
  background: red;
  font-size: 18px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.data {
  width: calc(65% - 15px);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-left: 15px;
  margin-right: 12px;
  font-size: 12px;
  font-weight: 400;
  color: #ffffff;
}
.data h4,
.data p {
  font-size: 12px;
  font-weight: 400;
  color: #ffffff;
}
.link {
  width: calc(45% - 40px);
  background: #e7205b;
  padding-bottom: 3px;
  border-bottom: 1px solid white;
}
.link a {
  font-size: 16px;
  font-weight: 400;
  color: white;
}
.ver-mas {
  height: 60px;
  width: 100%;
  background: #e7205b;
}
.ver-mas p {
  font-size: 16px;
  color: white;
  padding-top: 5px;
  text-transform: uppercase;
}
#third-line {
  position: absolute;
  top: 5%;
  height: 500px;
  right: calc(100vw * 0.9);
  height: 1000px;
  width: 5px;
  background: #fdc929;
  z-index: 0;
}
@media screen and (max-width: 780px) {
  #p-container {
    width: 100%;
    min-width: initial;
  }
  .thumbnail {
    width: 70%;
    max-width: 400px;
    min-width: 280px;
  }
  .p-description {
    position: absolute;
    width: 100%;
    height: 25%;
    top: 0;
    background: rgba(0, 0, 0, 0.8);
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .data {
    width: 65%;
    height: 70%;
    height: auto;
    margin: 0;
  }
  .data h4,
  .data p {
    font-size: 12px;
    font-weight: 300;
  }
  .link {
    position: relative;
    width: 28%;
    height: 50%;
    background: rgba(0, 0, 0, 0.4);
    border: none;
    padding: 0;
    left: 0;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .link a p {
    font-size: 12px;
  }
  .link a p::after {
    content: "";
  }
  .ver-mas p {
    font-size: 12px;
  }
  #third-line {
    left: 0;
    height: 90%;
  }
}
@media screen and (max-width: 630px) {
  .ver-mas {
    width: 100%;
    max-width: initial;
    min-width: initial;
  }
}
@media screen and (max-width: 400px) {
  .thumbnail {
    width: 100%;
    margin: 3px 0px;
    max-width: initial;
    min-width: initial;
  }
  #third-line {
    display: none;
  }
}
#contacto {
  position: relative;
  width: 100%;
  height: 600px;
}
#info {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-top: 5%;
  margin-left: 18%;
  font-size: 13px;
}
#info p {
  margin-top: 20px;
}
li {
  margin-left: 20px;
  line-height: 30px;
  list-style: none;
}
#info img {
  margin: 5px 15px;
}
#contacto .bkg {
  position: absolute;
  width: 40%;
  min-width: 400px;
  bottom: 0;
  right: 0;
  height: auto;
}
@media screen and (max-width: 450px) {
  #contacto {
    height: 530px;
  }
  #info {
    margin-left: 5%;
    font-size: 12px;
    line-height: 20px;
  }
  li {
    margin-left: 0%;
    line-height: 20px;
  }
  #contacto .bkg {
    width: 100%;
    min-width: initial;
  }
}
footer {
  width: 100%;
  height: 90px;
  border-top: 2px solid #005287;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.f-container {
  height: 40px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.f-logo {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.f-logo img {
  height: 70%;
  width: auto;
}
.f-data {
  height: 100%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: 11px;
  font-weight: 300;
  color: #4a4a4a;
}
.f-dir1 {
  padding-top: 6px;
}
.f-dir1,
.f-dir2 {
  padding-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media screen and (max-width: 660px) {
  footer {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .f-container {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .f-logo {
    height: 45px;
    margin: 5px;
  }
  .f-dir1,
  .f-dir2 {
    padding: 0 0 10px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .f-div {
    display: none;
  }
}
