#estudio {
    position: relative;
    width: 100%;
    height: calc(100vh);
    max-height: 750px;
    min-height: 600px;
    display: flex;
}

.estudio-container{
    width: 100%;
    max-width: 770px;
    height: fit-content;
    margin: 6% auto 0 auto;
    padding: 0 42px;
    text-align: center;
}

.estudio-container h3{
    font-size: 28px;
    font-weight: 300;
    margin-bottom: 10px;
}

.estudio-container h4{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 50px;
}

.estudio-container p{
    width: 100%;
    max-width: 770px;
    margin: 0 auto;
    font-size: 14px;
    font-weight: 300;
    text-align: justify;
    line-height: 21px;
}

#estudio img {
    position: absolute;
    width: 450px;
    height: fit-content;
    right: 0;
    bottom: 0;
}

#first-line{
    position: absolute;
    top: 5%;
    right: calc(100vw * .9);
    height: 1000px;
    background: #fdc929;
    width: 5px;
}

@media screen and(max-width: 780px){

    #estudio {
        display: flex;
        flex-direction: column;
        max-height: initial;
        height: fit-content;
    }


    #estudio img {
        position: initial;
        display: block;
        margin: 0 auto;
        width: 100%;
        max-width: 500px;
        height: auto;
    }

    #first-line {
        right: initial;
        left: 0;
        height: calc(90vw);
        min-height: 430px;
    }

}

@media screen and(max-width: 500px){

    #first-line {
        height: 350px;
        min-height: initial;
    }



}