@fullDuration: 1500ms;

#full-gallery {
    position: fixed;
    width: 100%;
    max-width: 1366px;
    height: 100vh;
    top: 0;
    z-index: 101;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    align-items: center;
}

#gallery-container {
    position: relative;
    height: 85%;
    max-height: 1366px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#gallery {
    position: relative;
    height: 95%;
    width: 80%;
    min-width: initial;
    margin: 0 auto;
    display: flex;  //CHECK
    justify-content: center; //CHECK
    align-items: center; //CHECK
}

#gallery div {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: pink;
    border: 5px solid black;
}

#gallery div img { // check
    // width: 100%;
    // height: auto;
    // object-fit: contain;
    width: 100%;
    height: 100%;
    max-width: auto;
    max-width: auto;
    object-fit: contain;
}

[data-orientation="port"] {
    transform: rotate(90deg);
}

[data-orientation="land"] {
    transform: rotate(0deg);
}

#gallery-buttons {
    position: fixed;
    bottom: 0;
    height: 9%;
    width: 100%;
    max-width: 1366px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
}

.g-first-btn {
    transform: scale(-1.1, 1.1);
}

.g-last-btn {
    transform: scale(1.1, 1.1);
}

#gallery-buttons button{
    width: auto;
    height: 15px;
    margin: 0 20px;
}


#gallery-buttons button img{
    height: 100%;
    width: auto;
}

.full-out {
    transform: translate(-300%, 0%);
}

.full-center {
    transform: translate(0%, 0%);
}

.full-to-left {
    display: initial;
    animation-name: fullToLeft;
    animation-duration: @fullDuration;
    animation-fill-mode: forwards;
}

@keyframes fullToLeft {
    from{
        transform: translate(0%, 0%);
    }
    to {
        transform: translate(-300%, 0%);
    }
}

.full-from-left {
    animation-name: fullFromLeft;
    animation-fill-mode: forwards;
    animation-duration: @fullDuration;
}

@keyframes fullFromLeft {
    from{
        transform: translate(-300%, 0%);
    }
    to {
        transform: translate(0%, 0%);        
    }
}

.full-to-right {
    animation-name: fullToRight;
    animation-fill-mode: forwards;
    animation-duration: @fullDuration;
}


@keyframes fullToRight {
    from{
        transform: translate(0%, 0%);        
    }
    to {
        transform: translate(300%, 0%);
    }
}

.full-from-right {
    animation-name: fullFromRight;
    animation-fill-mode: forwards;
    animation-duration: @fullDuration;
}


@keyframes fullFromRight {
    from{
        transform: translate(300%, 0%);
    }
    to {
        transform: translate(0%, 0%);        
    }
}

@media screen and (max-width: 780px){

    #gallery, #gallery-buttons {
        min-width: initial;
    }   


}

@media screen and (max-width: 500px){
    
}