#proyectos {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#p-title, #p-container{
    width: 80%;

}
#p-title {
    height: fit-content;
    margin-bottom: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#p-container {
    width: 80%;
    max-width: 1000px;
    min-width: 800px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-width: 750px;
}

.thumbnail {
    position: relative;
    width: 40%;
    margin: 10px;
    height: fit-content;
}

.thumbnail img{
    width: 100%;
    height: auto;
}

.p-description {
    position: absolute;
    width: 100%;
    height: 25%;
    top: 0;
    background: red;
    // background: rgba(0, 0, 0, .8);
    font-size: 18px;
    color: white;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

 .data {
    width: calc(65% - 15px);
    height: fit-content;
    margin-left: 15px;
    margin-right: 12px;
    font-size: 12px;
    font-weight: 400;
    color: #ffffff;
}

.data h4, .data p{
    font-size: 12px;
    font-weight: 400;
    color: #ffffff;
}

.link {
    width: calc(45% - 40px);
    background: #e7205b;
    padding-bottom: 3px;
    border-bottom: 1px solid white;
}

.link a {
    font-size: 16px;
    font-weight: 400;
    color: white;
}

.ver-mas {
    height: 60px;
    width: 100%;
    background: #e7205b;
}
.ver-mas p {
    font-size: 16px;
    color: white;
    padding-top: 5px;
    text-transform: uppercase;
}

#third-line {
    position: absolute;
    top: 5%;
    height: 500px;
    right: calc(100vw * .9);
    height: 1000px;
    width: 5px;
    background: #fdc929;
    z-index: 0;
}

@media screen and (max-width: 780px) {

    #p-container{
        width: 100%;
        min-width: initial;
    }

    //----------------------
    .thumbnail{
        width: 70%;
        max-width: 400px;
        min-width: 280px;;
    }
    
    .p-description {
        position: absolute;
        width: 100%;
        height: 25%;
        top: 0;
        background: rgba(0, 0, 0, .8);
        font-size: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .data {
        width: 65%;
        height: 70%;
        height: auto;
        margin: 0;        
    }
    
    .data h4, .data p {
        font-size: 12px;
        font-weight: 300;
    }
    
    .link {
        position: relative;
        width: 28%;
        height: 50%;
        background: rgba(0, 0, 0, 0.4);
        border: none;
        padding: 0;
        left: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .link a p{
        font-size: 12px;
    }
    .link a p::after {
        content: "";
    }
    //----------------------
    
    
    .ver-mas p {
        font-size: 12px;
    }
    
    #third-line {
        left: 0;
        height: 90%;
    }
}

@media screen and (max-width: 630px) {

    .ver-mas {
        width: 100%;
        max-width: initial;
        min-width: initial;
    }

}

@media screen and (max-width: 400px){
    .thumbnail{
        width: 100%;
        margin: 3px 0px;
        max-width: initial;
        min-width: initial;
    }

    #third-line {
        display: none;
    }
}