#proyectos {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hover-efect {
    position: absolute;
    width: 100%;
    height: 98.5%;
    background: black;
    transition: opacity .5s;
    opacity: 0;
}

.hover-efect:hover {
    opacity: .5;
}

#p-container {
    width: 80%;
    max-width: 830px;
    min-width: 800px;
    margin-top: 40px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-width: 750px;
}

.thumbnail {
    position: relative;
    width: 42%;
    margin: 6px;
    height: auto;
}

.unload {
    display: none;
}

.thumbnail img{
    width: 100%;
    height: auto;
}

.p-description {
    position: absolute;
    width: 100%;
    height: 25%;
    top: 0;
    background: rgba(0, 0, 0, .4);
    font-size: 18px;
    color: white;
    display: flex;
    flex-direction: row;
    pointer-events: none;
}

 .data {
    width: calc(65% - 15px);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15px;
    margin-right: 12px;
    font-size: 12px;
    font-weight: 300;
    color: #ffffff;
}

.data h4, .data p{
    font-size: 12px;
    font-weight: 400;
    color: #ffffff;
}

.link {
    width: calc(45% - 40px);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link div {
    width: fit-content;
    height: fit-content;
    padding: 12px 20px;
    background: rgba(0, 0, 0, 0.7);
}

.link div a {
    font-size: 12px;
    font-weight: 400;
    color: white;
    pointer-events: initial;
}

.ver-mas {
    height: 60px;
    width: 100%;
    margin-top: 31px;
    background: #e7205b;
}
.ver-mas button {
    font-size: 14px;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    width: fit-content;
    cursor: pointer;
    z-index: 20;
}

#third-line {
    position: absolute;
    top: 5%;
    height: 500px;
    right: calc(100vw * .9);
    height: 1000px;
    width: 5px;
    background: #fdc929;
    z-index: 0;
}

@media screen and (max-width: 780px) {

    #p-container{
        width: 100%;
        min-width: initial;
    }

    //----------------------
    .thumbnail{
        width: 70%;
        max-width: 400px;
        min-width: 280px;;
    }
    
    .p-description {
        position: absolute;
        width: 100%;
        height: 25%;
        top: 0;
        font-size: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .data {
        width: 65%;
        height: 70%;
        height: auto;
        margin: 0;        
    }
    
    .data h4, .data p {
        font-size: 12px;
        font-weight: 300;
    }
    
    .link {
        width: 28%;
    }

    .ver-mas p {
        font-size: 12px;
    }
    
    #third-line {
        left: 0;
        height: 90%;
    }
}

@media screen and (max-width: 630px) {

    .ver-mas {
        width: 100%;
        max-width: initial;
        min-width: initial;
    }

}

@media screen and (max-width: 400px){
    .thumbnail{
        width: 100%;
        margin: 3px 0px;
        max-width: initial;
        min-width: initial;
    }

    #third-line {
        display: none;
    }
}