#servicios{
    position: relative;
    width: 100%;
    height: auto;
}

.section-title {
    width: 100%;
    padding-top: 60px;
    text-align: center;
}

.section-title h3 {
    font-size: 28px;
    font-weight: 300;
}

.servicios-container{
    width: 100%;
    max-width: 770px;
    text-align: center;
    margin: 40px auto 0 auto; 
}

.servicios-container h3{
    text-transform: uppercase;
    font-size: 18px;
    padding-bottom: 15px;
    font-weight: 700;
    padding: 0 42px;
    margin-bottom: 15px;
    line-height: 22px;
    color: #e7205b;
}

.servicios-container p{
    padding-top: 10px;
    font-size: 13px;
    font-weight: 300;
    line-height: 21px;
    padding: 0 42px;
    text-align: justify;
}

#second-line {
    position: absolute;
    top: 8%;
    left: calc(100vw * .9);
    height: 1400px;
    width: 5px;
    background: #61d8c2;
}

@media screen and(max-width: 780px){
   
    #second-line {
        left: initial;
        right: 0;
        top: 3%;
        height: 93%;
        min-height: 430px;;
    }
    
}

@media screen and(max-width: 600px){

    .section-title h3 {
        font-size: 18px;
    }

    .servicios-container {
        text-align: center;
    }

    .servicios-container h3{
        text-align: center;
        font-size: 14px;
        font-weight: 700;
    }

    .servicios-container p{
        font-size: 13px;
        font-weight: 400;
    }

}
